.container{
    border: 1px solid black;
    background-color: yellow;
    height: 500px;
    width: 400px;
    display: grid;

    grid-template-rows: 100px 300px 100px;
    grid-template-columns: 100px 200px;

    grid-template-areas: 
       "hd hd"
       "sd cnt"
       "ft ft";
}

#header{
    grid-area: hd;
    background-color: aqua;
    border: 1px solid black;
}

#sidebar{
    grid-area: sd;
    background-color: aqua;
    border: 1px solid black;
}

#content{
    grid-area: cnt;
    background-color: aqua;
    border: 1px solid black;
}

#footer{
    grid-area: ft;
    background-color: aqua;
    border: 1px solid black;
}

@media(max-width:350px){
    .container{
        grid-template-rows: 100px 100px 200px 100px;
        grid-template-columns: 300px;

        grid-template-areas: 
        "hd"
        "sd"
        "cnt"
        "ft";
    }
}